<!DOCTYPE html>
<html lang="en">

<head>
    <title>Face Mask</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script src="{{ url_for('static', filename='js/custom.js') }}"></script>
    <script src="{{ url_for('static', filename='js/fileinput.js') }}"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/fileinput.css') }}">

    
</head>

<body>
    <div class="header">
        <nav class="navbar navbar-expand-sm nav-style">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a href="#" >
                        <img src="/static/img/logo.png"/>
                    </a>
                </div>
            </div>
            <div id="navbarMenuHeroA" class="navbar-menu">
                <div class="navbar-end">
                    <a href="{{ url_for('main.index') }}" class="navbar-item">
                        Home
                    </a>
                    {% if not current_user.is_authenticated %}
                    <a href="{{ url_for('auth.login') }}" class="navbar-item">
                        Login
                    </a>
                    <a href="{{ url_for('auth.signup') }}" class="navbar-item">
                        Sign Up
                    </a>
                    {% endif %}
                    {% if current_user.is_authenticated %}
                    <a href="{{ url_for('auth.logout') }}" class="navbar-item">
                        Logout
                    </a>
                    {% endif %}
                </div>
            </div>
        </nav>
    </div>

    <!-- Content -->
    <div class="content">
        {% block content %}
        {% endblock %}
        <br />
        <br />
    </div>
    <!-- END Content -->

    <div>
        <footer class="container-fluid text-center footer-style">
            <p>Copyright © 2022 National University of Singapore. All rights reserved.</p>
        </footer>
    </div>
</body>
