{% extends 'base.html' %}

{% block content %}

{% for message in get_flashed_messages() %}
    <div class="alert alert-info">
    {{ message }}
    </div>
{% endfor %}

<div class="jumbotron">
    <!-- Options -->
    <form action="/getStudent" method="POST">
        <div class="form-group row">
            <label for="students" class="col-sm-1 col-form-label">Students</label>
            <div class="col-sm-3">
                <select name="students" id="students" class="custom-select">
                    <option selected>Please Select One Student</option>
                    {% for user in users %} 
                        <option value="{{ user[0] }}">{{ user[1] }}</option>
                    {% endfor %}
                </select>
            </div>
            <div>
                <button type="submit" id="filter_btn" class="btn btn-primary">Filter</button>
            </div>
        </div>
    </form>
</div>

<!-- Detail Table -->
<div class="row">
    <div class="table-responsive">
        <table id="verticalScroll" class="table  table-bordered table-sm" cellspacing="0" width="100%" >
            <tbody id="result">
            </tbody>
        </table>
    </div>
</div>

<div class="container-fluid bg-3 text-center">
    <div class="row">
        {% for im in data %} 
            <div class="col-sm-3 col-sm-offset-1">
                <a href="#">
                    <img src="{{ url_for('static', filename='img/')}}{{im}}" class="img-circle img-thumbnail" style="width:100%" alt="Image">
                </a>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}