{% extends 'base.html' %}

{% block content %}

{% for message in get_flashed_messages() %}
    <div class="alert alert-info">
    {{ message }}
    </div>
{% endfor %}

<div class="container-fluid text-center">
    <div class="clearfix">
        <h2>Select Your Photo</h2>
    </div>

    <form id="imageForm" action="process" method="POST">
        <div class="row img-grid">
            {% for im in data %} 
                <div class="col-sm-3 offset-2">
                    <li>
                        <img name="{{im}}" src="{{ url_for('static', filename='processed/')}}{{im}}" class="img-circle img-thumbnail" style="width:100%" alt="Image">
                    </li>
                </div>
            {% endfor %}
        </div>
        
        <br/>

        <div class="text-right">
            <button id="processBtn" name="processBtn" class="btn btn-primary">Next</button>
        </div>
    </form>
</div>
{% endblock %}