{% extends 'base.html' %}

{% block content %}

{% for message in get_flashed_messages() %}
    <div class="alert alert-info">
    {{ message }}
    </div>
{% endfor %}

<div class="container-fluid text-center">
    <div class="clearfix">
        <h1>Selected Photos</h1>
    </div>

    <form id="maskForm" action="/mask" method="POST">
        <div class="row img-grid">
            {% for im in data %} 
                <div class="col-sm-3 col-sm-offset-1">
                    <li class="mask">
                        <img name = "{{im}}" src="{{ url_for('static', filename='processed/')}}{{im}}" class="img-circle img-thumbnail" style="width:100%" alt="Image">
                    </li>
                </div>
            {% endfor %}
        </div>
        
        <br/>

        <!-- Input Data -->
        <div class="row">
            <div class="col-6 offset-3">
                <textarea id="review" name="review" rows="5" cols="10" placeholder="Please Upload Images"></textarea>
            </div>
        </div>
        <div class="col-12 text-center">
            <button id="upload" class="btn btn-primary" >Upload</button>
        </div>
        <br>
        <hr>

        <div class="text-right">
            <button id="maskBtn" name="maskBtn" class="btn btn-primary">Mask</button>
        </div>
    </form>
</div>
{% endblock %}