{% extends 'base.html' %}

{% block content %}

{% for message in get_flashed_messages() %}
    <div class="alert alert-info">
    {{ message }}
    </div>
{% endfor %}

<div class="container-fluid text-center">
    <div class="clearfix">
        <button class="select"> </button>
        <h2>Processed Photos</h2>
        <button class="send" data-counter="0">✔</button>
    </div>

    <form id="downloadForm" action="/download" method="POST">
        <div class="row img-grid">
            {% for im in data %} 
                <div class="col-sm-3 col-sm-offset-1">
                    <li class="download">
                        <img class="view-img" name ="{{im}}" src="{{ url_for('main.processed_photo', photoName='')}}{{im}}" class="img-circle img-thumbnail" style="width:100%" alt="Image">
                    </li>
                </div>
            {% endfor %}
        </div>
        
        <br/>
        <hr>

        <div class="row">
            <div class="col-1">
                <a type="button" onclick="history.back()" class="btn btn-primary">Previous</a>
            </div>
            <div class="col-1 offset-5">
                <button id="downloadBtn" name="downloadBtn" class="btn btn-primary" >Download</button>
            </div>
        </div>
        <br/>
    </form>
</div>
{% endblock %}