{% extends 'base.html' %}

{% block content %}

{% for message in get_flashed_messages() %}
    <div class="alert alert-info text-center">
    {{ message }}
    </div>
{% endfor %}

<div class="container-fluid text-center ">
    <div class="col-6 offset-3">
        <table class="table table-bordered">
            {% for im in data %} 
            <tr>
                <td style="width:200px; height:200px;">
                    <img name="{{im}}" src="{{url_for('admin.process_file', filename='')}}{{im}}" 
                                    class="img-circle img-thumbnail" style="width:100%" alt="Image">
                </td>
                <td style="vertical-align: middle;">
                    <a href="{{ url_for('main.upload_face') }}" class="btn btn-primary">
                        Update
                    </a>
                    <a href="{{ url_for('main.delete_face', face_id='1') }}" class="btn btn-primary">
                        Delete
                    </a>
                </td>
            </tr>
            {% endfor %}

            {% for im in range(appends) %}
            <tr>
                <td class="col-7" style="width:200px; height:200px;" >
                    &nbsp;
                </td>
                <td style="vertical-align: middle;">
                    <a href="{{ url_for('main.upload_face') }}" class="btn btn-primary">
                        Add
                    </a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>

    <div class="text-right">
        <button id="processBtn" name="processBtn" class="btn btn-primary">Next</button>
    </div>
</div>
{% endblock %}