{% extends 'base.html' %}

{% block content %}

{% for message in get_flashed_messages() %}
    <div class="alert alert-info text-center">
    {{ message }}
    </div>
{% endfor %}

<div class="container-fluid text-center">
    <form id="deleteForm" action="/admin/delete" method="POST">

        <div class="row view-img-grid">
            {% for im in data %}
            <div class="col-sm-2">
                <li class="delete">
                    <img class="view-img" name="{{im}}" src="{{url_for('admin.query_file', photoId='')}}{{im}}">
                </li>
            </div>

            {% if loop.index%6 == 0 %}
            </div>
            <div class="row view-img-grid">
            {% endif %}
            {% endfor %}
        </div>

        <div class="col-12 text-center">
            <button id="deleteBtn" name="deleteBtn" class="btn btn-primary" >Delete</button>
        </div>
    </form>
    <br>
    <hr>
</div>
{% endblock %}