{% extends 'base.html' %}

{% block content %}

{% for message in get_flashed_messages() %}
    <div class="alert alert-info text-center">
    {{ message }}
    </div>
{% endfor %}

<div class="container-fluid text-center">
    <div class="clearfix">
        <h3>Please Upload Group Photos</h3>
    </div>

    <form action="/upload" method="POST" enctype="multipart/form-data">
        <div class="col-8 offset-2">
            <div class="form-group">
                <div class="custom-file">
                    <input id="files" name="files" type="file" multiple />
                </div>
            </div>
        </div>
    </form>
</div>





{% endblock %}