# Data files and directories common in repo root
datasets/
#logs/
results/
temp/
test/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# VS Studio Code
.vscode

# PyCharm
.idea/

# Dropbox
.dropbox.attr

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# dotenv
.env

# virtualenv
.venv
venv/
ENV/

# training data
build/
.DS_Store

*.sql

input/*.jpg
output/*/*.jpg

application/data/*
logs/*

processed/*

!processed/.gitkeep

input/group/*
input/individual/*

!input/group/.gitkeep 
!input/individual/.gitkeep 