#container {
  display: flex;
  flex-direction: column;
  height: 90%
}

.main_content {
    min-height: 470px;
    flex: 1 0 auto;
}

.nav-style {
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-bottom-color: red;
}

.footer-style {
    border-top-style: solid;
    border-top-width: 3px;
    border-top-color: red;
    flex: 0 0 auto;
}

.custom-contain {
    min-width: 80%;
}

.view-img {
  height:140px !important; 
  max-height: 200px; 
  max-width:200px; 
  width: auto !important;
}

/* common section*/
textarea {
  width: 100%;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

/* login section */
.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column; 
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding: 20px;
}

#loginForm {
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background: #fff;
  padding: 30px;
  width: 90%;
  max-width: 450px;
  position: relative;
  padding: 0px;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  text-align: center;
}

#forgetPass {
  background-color: #f6f6f6;
  border-top: 1px solid #dce8f1;
  padding: 25px;
  text-align: center;
  -webkit-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
}

#loginForm input[type=submit]  {
  background-color: #56baed;
  border: none;
  color: white;
  padding: 15px 80px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 13px;
  -webkit-box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
  box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  margin: 5px 20px 40px 20px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#loginForm input[type=submit]:hover {
  background-color: #39ace7;
}

#loginForm input[type=submit]:active  {
  -moz-transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -o-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}

#loginForm input[type=text] {
  background-color: #f6f6f6;
  border: none;
  color: #0d0d0d;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  width: 85%;
  border: 2px solid #f6f6f6;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}

#loginForm input[type=text]:focus {
  background-color: #fff;
  border-bottom: 2px solid #5fbae9;
}

#loginForm input[type=text]:placeholder {
  color: #cccccc;
}

/* img selection */
.view-img-grid div {
  list-style: none;
  height: 150px;
}

li:before {
  content: "\2714";
  display: block;
  position: absolute;
  margin: auto;
  top: 0; left: 0; bottom: 0; right: 0;
  width: 40px;
  height: 40px;
  line-height: 40px;
  background:  #00c09e;
  border-radius: 50px;
  color: #fff;
  text-align: center;
  font-size: 16px;
  z-index: 10;
  opacity: 0;
  transition:         0.3s linear;
  -o-transition:      0.3s linear;
  -ms-transition:     0.3s linear;
  -moz-transition:    0.3s linear;
  -webkit-transition: 0.3s linear;
  -o-user-select:      none;
  -moz-user-select:    none;
  -webkit-user-select: none;
  cursor: pointer;
}

li.selected:before {
  opacity: 1;
}

li.selected img {
  box-shadow: 0 0 0 4px #00c09e;
  animation:        selected 0.3s cubic-bezier(0.250, 0.100, 0.250, 1.000);
  -o-animation:     selected 0.3s cubic-bezier(0.250, 0.100, 0.250, 1.000);
  -ms-animation:    selected 0.3s cubic-bezier(0.250, 0.100, 0.250, 1.000);
  -moz-animation:   selected 0.3s cubic-bezier(0.250, 0.100, 0.250, 1.000);
  -webkit-animation: selected 0.3s cubic-bezier(0.250, 0.100, 0.250, 1.000);
}

/* image grid header */
.clearfix button {
  height: 45px;
  margin: 0 7px;
  padding: 5px 0;
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 2px;
  color: #fff;
  border: 0;
  border-radius: 2px;
  text-transform: uppercase;
  outline: 0;
}

button.select {
  float: left;
  background: #435a6b;
  cursor: pointer;
  width: 150px;
}

button.select:before, button.select:after {
  position: absolute;
  display: block;
  content:  'select all';
  width: 150px;
  text-align: center;
  transition:         0.1s linear;
  -o-transition:      0.1s linear;
  -ms-transition:     0.1s linear;
  -moz-transition:    0.1s linear;
  -webkit-transition: 0.1s linear;
}

button.select:after {
  margin-top: 15px;
  content:  'unselect';
  opacity: 0;
}

button.select.selected:before {
  transform:         translate(0,-38px);
  -o-transform:      translate(0,-38px);
  -ms-transform:     translate(0,-38px);
  -moz-transform:    translate(0,-38px);
  -webkit-transform: translate(0,-38px);
  opacity: 0;
}

button.select.selected:after {
  transform:         translate(0,-38px);
  -o-transform:      translate(0,-38px);
  -ms-transform:     translate(0,-38px);
  -moz-transform:    translate(0,-38px);
  -webkit-transform: translate(0,-38px);
  opacity: 1;
}

button.send {
  float: right;
  background: #aaa;
  padding: 0px 15px;
  transition:         0.3s linear;
  -o-transition:      0.3s linear;
  -ms-transition:     0.3s linear;
  -moz-transition:    0.3s linear;
  -webkit-transition: 0.3s linear;
}

button.send.selected {
  background: #00c09e;
  cursor: pointer;
}

button.send:after {
  position: absolute;
  content:  attr(data-counter);
  padding: 5px 8px;
  margin: -29px 0 0 0px;
  line-height: 100%;
  border: 2px #fff solid;
  border-radius: 60px;
  background: #00c09e;
  transition:         0.1s linear;
  -o-transition:      0.1s linear;
  -ms-transition:     0.1s linear;
  -moz-transition:    0.1s linear;
  -webkit-transition: 0.1s linear;
  opacity: 0;
}

button.send.selected:after {
  opacity: 1;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.menu-size{
    height: 200px;
    overflow: scroll;
}


/* navbar css definition start */
.navbar-menu {
	display: none
}

.navbar-item {
	color: #4a4a4a;
	display: block;
	line-height: 1.5;
	padding: .5rem .75rem;
	position: relative
}

.navbar-item .icon:only-child {
	margin-left: -.25rem;
	margin-right: -.25rem
}

a.navbar-item {
	cursor: pointer
}

a.navbar-item.is-active,
a.navbar-item:hover {
	background-color: #fafafa;
	color: #3273dc
}

.navbar-item {
	display: block;
	flex-grow: 0;
	flex-shrink: 0
}

@media screen and (max-width:1087px) {
	.navbar>.container {
		display: block
	}
	.navbar-menu {
		background-color: #fff;
		box-shadow: 0 8px 16px rgba(10, 10, 10, .1);
		padding: .5rem 0
	}
	.navbar-menu.is-active {
		display: block
	}
}

@media screen and (min-width:1088px) {
	.navbar,
	.navbar-end,
	.navbar-menu,
	.navbar-start {
		align-items: stretch;
		display: flex
	}
	.navbar {
		min-height: 3.25rem
	}
	.navbar-item {
		align-items: center;
		display: flex
	}
	.navbar-item {
		display: flex
	}
	.navbar-menu {
		flex-grow: 1;
		flex-shrink: 0
	}
	.navbar-start {
		justify-content: flex-start;
		margin-right: auto
	}
	.navbar-end {
		justify-content: flex-end;
    margin-left: auto;
    color: red;
  }
  /* navbar css definition end */

  /* signup css definition start */
  .block:not(:last-child),
  .box:not(:last-child),
  .content:not(:last-child),
  .notification:not(:last-child),
  .table-container:not(:last-child),
  .title:not(:last-child) {
    margin-bottom: 1.5rem
  }
  .box:not(:last-child),
  .content:not(:last-child),
  .box {
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 2px 3px rgb(10 10 10 / 10%), 0 0 0 1px rgb(10 10 10 / 10%);
    color: #4a4a4a;
    display: block;
    padding: 1.25rem;
  } 
  .input.is-hovered, .input:hover {
    border-color: #b5b5b5;
  }

  .input {
    -moz-appearance: none;
    -webkit-appearance: none;
    align-items: center;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: none;
    display: inline-flex;
    font-size: 1rem;
    height: 2.25em;
    justify-content: flex-start;
    line-height: 1.5;
    padding-bottom: calc(.375em - 1px);
    padding-left: calc(.625em - 1px);
    padding-right: calc(.625em - 1px);
    padding-top: calc(.375em - 1px);
    position: relative;
    vertical-align: top
  }
  .input {
    background-color: #fff;
    border-color: #dbdbdb;
    color: #363636;
    box-shadow: inset 0 1px 2px rgba(10, 10, 10, .1);
    max-width: 100%;
    width: 100%
  }
  .input:active,
  .input:focus {
    outline: 0
  }
  .input::-moz-placeholder {
    color: rgba(54, 54, 54, .3)
  }
  .input::-webkit-input-placeholder {
    color: rgba(54, 54, 54, .3)
  }
  .input:-moz-placeholder {
    color: rgba(54, 54, 54, .3)
  }
  .input:-ms-input-placeholder {
    color: rgba(54, 54, 54, .3)
  }
  .input.is-active,
  .input.is-focused,
  .input:active,
  .input:focus {
    border-color: #3273dc;
    box-shadow: 0 0 0 .125em rgba(50, 115, 220, .25)
  }

  .button.is-fullwidth {
    display: flex;
    width: 100%
  }
  .button.is-info {
    background-color: #209cee;
    border-color: transparent;
    color: #fff
  }
  .button.is-info.is-hovered,
  .button.is-info:hover {
    background-color: #1496ed;
    border-color: transparent;
    color: #fff
  }

  .button.is-info.is-focused,
  .button.is-info:focus {
    border-color: transparent;
    color: #fff
  }

  .button.is-info.is-focused:not(:active),
  .button.is-info:focus:not(:active) {
    box-shadow: 0 0 0 .125em rgba(32, 156, 238, .25)
  }

  .button.is-info.is-active,
  .button.is-info:active {
    background-color: #118fe4;
    border-color: transparent;
    color: #fff
  }

  .is-block {
    display: block!important
  }

  .field:not(:last-child) {
    margin-bottom: .75rem
  }
  .field.has-addons .control:not(:last-child) {
    margin-right: -1px
  }

  .notification {
    background-color: #f5f5f5;
    border-radius: 4px;
    padding: 1.25rem 2.5rem 1.25rem 1.5rem;
    position: relative
  }

  .notification.is-danger {
    background-color: #ff3860;
    color: #fff;
  }

  @media screen and (min-width:769px),
  print {
    .is-block-tablet {
      display: block!important
    }
  }

  .columns.is-mobile>.column.is-4 {
    flex: none;
    width: 33.33333%
  }
  
  .columns.is-mobile>.column.is-offset-4 {
    margin-left: 33.33333%
  }
  .column {
    display: block;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    padding: 0.75rem;
  }
  
  @media screen and (min-width:769px),
  print {
    .column.is-4,
    .column.is-4-tablet {
      flex: none;
      width: 33.33333%
    }
    .column.is-offset-4,
    .column.is-offset-4-tablet {
      margin-left: 33.33333%
    }
    .column.is-4-touch {
      flex: none;
      width: 33.33333%
    }
    .column.is-offset-4-touch {
      margin-left: 33.33333%
    }
  }

  @media screen and (min-width:1088px) {
    .column.is-4-desktop {
      flex: none;
      width: 33.33333%
    }
    .column.is-offset-4-desktop {
      margin-left: 33.33333%
    }
  }
  /* signup css definition start */
}